{% block sponsor_bar %}
{# <div class="h-16 bg-black -ml-4 -mr-4 flex items-center flex-row-reverse"> #}
<div class="h-8 md:h-12 flex items-center">
	<p class="text-xs md:text-base mr-2 opacity-50">Article rémunéré, présenté par</p>
	<a href="https://www.nespresso.com/ch/fr/" target="_blank" class="h-2/4"><img src="img/this/logo-nespresso-full-black.png" alt="Logo Yuh" class="h-full"></a>
</div>
{% endblock %}